extends layout.pug
include utils.pug
block content
  h3(class="delete-review-page-text") Delete Plant on Shelf?
  div(class='delete-review-page-form')
    form(action=`/shelves/planttoshelf/${reference.id}` method='post' class='delete-review-page-form')
      input(type='hidden' name='_csrf' value=csrfToken)
      p
      p
      p
      button(type='submit') Delete selected plant on this shelf
  div(class="delete-review-page-text")
    div Go Back to Your Shelf:
    div
      p
      a(href=`/shelves/${reference.shelfId}` role='button' class='clickable-link') Go Back
