extends layout.pug
include utils.pug
block content
  h1 Are You Sure You Want To Delete This Shelf?
  div(value=shelfId)
    form(action=`/shelves/delete-shelf/${shelfId}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div
        button(type='submit' class='button') Delete shelf
      div
        a(href=`/shelves/${shelfId}` role='button') Cancel
