extends layout.pug
include utils.pug
block content
  h3 Delete Plant on Shelf?
  div
    form(action=`/shelves/planttoshelf/${reference.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(type='submit') Delete selected plant on this shelf
      a(href=`/shelves/${reference.shelfId}` role='button' class='clickable-link') Cancel
