extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.test4321
    container.splash-container
      div.splash-box
        h1(class="splash-text-all splash-text-header") Welcome to GoodSeeds
        p(class="splash-text-all splash-text-content") A virtual home for your houseplants
        if !locals.authenticated
          a(href="/users/signup" class="splash-text-all splash-link") Join today to start collecting
