doctype html
html
  head
      block head
        title="GoodSeeds"
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/index.js" type="module" defer)
  body
    container.main-nav
      div.logo-div
        span
          a(href="/" class="main-logo") GoodSeeds
        nav.left-nav
          span
            a(href="/users") Users
            a(href="/plants") Plants
      div
        nav.right-nav
          if locals.authenticated
            span Welcome, #{user.firstName}
            form(action="/users/logout" method="post")
              button(type="submit") Log Out
            div.navbar__account-oval
              a(href="/users/account" class="navbar__account-link") Your Account 👤
              div.navbar__account-dropdown
                a Log out
          else
            span
              a(href="/users/login") Log in
              a(href="/users/signup") Sign Up
    div.main-body
      block content
