extends layout.pug

include utils.pug

block content
  h1 Add a Review
    container.plant-id__container
        div.plant-card
            div.plant-image
                img(src=plant.imgUrl, alt="Picture goes here")
            div
                a(class="plant-name" href=`/plants/${plant.id}`)= plant.name
            div
                p(class="plant-scientific-name")= plant.scientificName
        div.review-card
            form(action="/plants/:id/reviews", method="post")
                p My Rating
                div
                    label Rating
                    select(name='rating')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                +field('What did you think?', reviewText, null, textarea)
                button(type="submit") Add Review
