extends layout.pug

include utils.pug

block content
    a(href=plant.imgUrl) #{plant.imgUrl}
    div #{plant.name}
    div #{plant.scientificName}
    button(type='submit') Add To Shelf
    div Cumulative Rating
    div Tags
    div Reviews
