extends layout.pug

include utils.pug

block content
  h1 Add a Review
    container.plant-id-container
        div.plant-card
            div.plant-image
                img(src=plant.imgUrl, alt="Picture goes here")
            div
                a(class="plant-name" href=`/plants/${plant.id}`)= plant.name
            div
                p(class="plant-scientific-name")= plant.scientificName
