extends layout.pug

include utils.pug

block content
  container.account-window__container
    div.account-window_profile-image-info-container
      div.account-window__profile-img-div
        if user.imgUrl
          img(src=user.imgUrl alt="profile image goes here" class='account-window__profile-img')
        else
          img(src='/images/profile/profile-pic.jpeg' alt="profile image goes here" id="profile-pic-placeholder" class='account-window__profile-img')
      form(action='/image-user' method='post' enctype='multipart/form-data')
        div.button-div
          input(type='file' accept='image/*' id='imgUrl' name='image' value='imgUrl')
          label(for='imgUrl') 1. Select an Image
          button(type='submit' class='uploadImageButton clickable-link') 2. Upload and Save
    div.account-window__details-container
      div.account-window__details-header-div
      h1 Edit Your Account Info
      form(action="/users/edit" method="post" class='center-form')
        +field('Username:', 'username', user.username)
        +field('First Name:', 'firstName', user.firstName)
        +field('Last Name:', 'lastName', user.lastName)
        +field('Email Address:', 'email', user.email)
        button(type="submit" class='clickable-link') Submit Changes
      //- a(href='./account/delete' class='clickable-link').account-window__delete-button Save changes
  +footerHeight
