extends layout.pug

include utils.pug

block content
    table Users
        thead
            tr
                th Username
                th Shelves
        tbody
            each user in users
                tr
                    td= user.username
                    td
                        a(href=`./users/${user.id}/shelves`) #{user.username}'s Shelves
