extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  container.form-container
    form(action='/users/login' method='post' class='form')
      div.form-inputs
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address:', 'email', null)
        +field('Password:', 'password', null, 'password')
      div.form-links
        button(type='submit' class='button-primary') Log In
      div.form-links
        a(href="/users/signup" class="clickable-link") Want to be a member? Sign Up!
