extends layout.pug

include utils.pug

block content
    container(class="flex-container__center-x background-reset")
        table
            thead
                tr
                    th Username
                    th Shelves
            tbody
                each shelf in shelves
                    tr
                        td.flex-container__center-center
                            //- div= shelf.User.username
                            a(href=`./users/${shelf.User.id}/shelves` class="clickable-link") #{shelf.User.username}
                        td
                            div.flex-container__center-x
                                a(href=`./shelves/${shelf.id}` class="clickable-link") #{shelf.name}
