extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  container.form-container
    form(action='/users/signup' method='post' class='form' id='signup-form' enctype='multipart/form-data')
      div.form-inputs
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('First Name:', 'firstName', user.firstName)
        +field('Last Name:', 'lastName', user.lastName)
        +field('Username:', 'username', user.username)
        +field('Email Address:', 'email', user.email)
        +field('Password:', 'password', user.password, 'password')
        +field('Confirm Password:', 'confirmPassword', '', 'password')
        div.form-group
          div.button-div
            input(type='file' accept="image/*" id='imgUrl' name='image' value='imgUrl')
            label(for='imgUrl') Upload Profile Image
      div.form-links
        button(type='submit' class='button-primary' id='signup-button') Sign Up
      div.form-links
        a(href="/users/login" class='clickable-link') Already a member? Log in
  +footerHeight
