extends layout.pug

include utils.pug

block content
    table
        thead
            tr
                th #{user.username}'s Shelves
        tbody
            tr
                td
                    a(href=`../shelves/${user.id}`) #{user.username}'s Shelves

    button(type='submit') Add a Shelf
