/* div > h1 {
  background-color: chartreuse;
} */
:root{
  --main-color-green: #3bb14d;
}


body{
  /* background-color: rgb(219, 180, 130); */
  background-color: #f7f7f7;
}

/* change to navbar__container */
.main-nav{
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  background-color: var(--main-color-green);
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
  padding: 20px 100px 20px 100px;
}
/* navbar__left-menu */
.logo-div{
  display: flex;
  /* justify-content: flex-start; */
  /* flex-direction: row; */
  align-items: flex-end;
}
/* navbar__left-nav */

/* navbar__logo */

.main-logo{
  font-size: 70px;
  padding: 20px;
  color: rgba(243, 255, 79, 0.897);
  font-family: 'Times New Roman', Times, serif;
}

/* navbar__right-nav */
.right-nav{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
/* navbar__right-nav a */
.right-nav a {
  padding: 5px 10px 7px 10px;
  /* font-size: 20px; */
}
/* navbar__left-nav a */
.left-nav a {
  padding: 10px;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-nav > .spanTag{
  font-size: 20px;
  margin-right: 30px;
}

/* navbar__right-nav button */
.right-nav button {
  margin: 0px 20px;
}

.login-button-span a {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 25px;
  margin: 0px 10px;
  font-weight: 600;
  color: rgba(255, 255, 255, .8);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-button-span a:hover {
  background-color: white;
  color: black;
}


.navbar__account-oval{
  border: 2px solid white;
  border-radius: 2em;
  position: relative;
  display: block;
  z-index: 1;
}

.navbar__account-oval:hover{
  background-color: white;
  display: block;
}

.navbar__account-dropdown{
  visibility: hidden;
  position: absolute;
  display: none;
  background-color: white;
  border-radius: 1em;
  min-width: 228px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  padding-top: 40px;
  padding-bottom: 10px;
  top: 2px;
  left: -3px;
}

.logout-button-div{
  display: flex;
  justify-content: center;
}

.logout-button{
  padding: 5px 66px 5px 66px;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-size: 15px;
}
.test{
  margin: 0px 10px;
  font-weight: 600;
}
.logout-button:hover{
  /* background-color: rgba(255, 255, 255, .8); */
  /* color: black; */
  border: 3px solid rgb(214, 93, 93);
  padding: 5px 65px 5px 65px;
}



.navbar__account-link:hover > ul,
.navbar__account-dropdown:hover {
  visibility: visible;
  display: block;
}

.navbar__account-dropdown li{
  display: block;
}

.navbar__account-dropdown:hover{
  display: block;
}

.navbar__account-link{
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}

.main-body {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 40px;
}
