:root{
  --main-color-green: #3bb14d;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  /* align-items: flex-end; */
  /* if you change the above, please change the below */
}

.background-reset{
  /* if you change the below, please change the above */
  background-color: #f7f7f7;
}

.clickable-username{
  font-weight: 550;
  text-decoration: none;
}
.clickable-username:hover{
  color: var(--main-color-green);
}

.clickable-link{
  padding: 10px;
  text-decoration: none;
  font-weight: 550;
  /* border: 1px solid red; */
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
}

.clickable-link:hover{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: black;
  /* transform: translateY(-2px); */
}

.delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-logo {
  font-size: 70px;
}
.left-nav a {
  font-size: 35px;
}
.logo-div{
  flex-direction: row;
}


@media screen and (max-width: 1600px) {
  #main-logo {
    font-size: 50px;
  }
  .left-nav a {
    font-size: 15px;
  }
  .logo-div{
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  /* #main-logo {
    font-size: 30px;
  } */
  .welcome-message-div{
    visibility: hidden;
  }
  .logo-div{
    flex-direction: row;
  }
  .column-menu{
    display: flex;
    flex-direction: column;
  }
}


.welcome-message-div hover {
  visibility: hidden;
  background-color: rgba(0, 0, 0, .1);
}


/* change to navbar__container */
.main-nav{
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  background-color: var(--main-color-green);
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 20px 100px 20px 100px;
}
/* navbar__left-menu */
.logo-div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* navbar__left-nav */

/* navbar__logo */

#main-logo{
  padding: 20px;
  color: gold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* navbar__right-nav */
.right-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.welcome-message{
  text-decoration: none;
}

.welcome-message-div{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-right: 30px;
  color: white
}

/* .welcome-message-inner-div{
  height: 36px;
  color: white
} */

.welcome-message-drop{
  position: relative;
  top: 15px;
}

/* navbar__right-nav a */
.right-nav a {
  padding: 5px 10px 7px 10px;
  /* font-size: 20px; */
}
/* navbar__left-nav a */
.left-nav a {
  padding: 5px 10px 5px 10px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 3px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  margin-right: 10px;
}

.left-nav a:hover {
  background-color: rgba(0, 0, 0, .1);
}

.right-nav > .spanTag{
  font-size: 20px;
  margin-right: 30px;
}

/* navbar__right-nav button */
.right-nav button {
  margin: 0px 20px;
}

.login-button-span a {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 25px;
  margin: 0px 10px;
  font-weight: 600;
  color: rgba(255, 255, 255, .8);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-button-span a:hover {
  background-color: white;
  color: black;
}


.navbar__account-oval{
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2em;
  position: relative;
  display: block;
  z-index: 1;
}

.navbar__account-oval:hover{
  background-color: white;
  color: black;
  display: block;
}

.navbar__account-dropdown{
  visibility: hidden;
  position: absolute;
  display: none;
  background-color: white;
  border-radius: 1em;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  padding-top: 40px;
  padding-bottom: 10px;
  top: -2px;
  left: -3px;
}

.logout-button-div{
  display: flex;
  justify-content: center;
}

.logout-button{
  padding: 5px 66px 5px 66px;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-size: 15px;
  text-align: center;
}
.test{
  margin: 0px 10px;
  font-weight: 600;
}
.logout-button:hover{
  /* background-color: rgba(255, 255, 255, .8); */
  /* color: black; */
  border: 3px solid rgb(214, 93, 93);
  padding: 5px 65px 5px 65px;
}



.navbar__account-link:hover > ul,
.navbar__account-dropdown:hover {
  visibility: visible;
  display: block;
  color: white;
}

.navbar__account-dropdown li{
  display: block;
}

.navbar__account-dropdown:hover{
  display: block;
}

.navbar__account-link{
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}

.main-body {
  margin: 40px 50px 0px 50px;
}

option {
  text-align: center;
}

.footergood {
  margin-top: -75px;
  height: 75px;
  background-color: var(--main-color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;

}

.footera{
  padding: 5px 10px 5px 10px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    border: 5px solid yellow;
    text-decoration: none;
    font-size: 2vh;
}

/* about us page */
.title_container {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.about_us_outer {
  /* display: flex;
  justify-content: space-around; */
  border: 1px solid black;
  padding: 120px 0px;
  width: 100%;
  box-sizing: border-box;
  background: rgb(84, 226, 108)
}

.aboutustitle{
  font-size: 6vh;
}

.dev_name{
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 1.5vh;
}

.about-us-link{
  font-size: 2vh;
  margin-left: 1vh;
}
.each_person {
  /* border: 0.5px solid grey;
  border-radius: 10px; */
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  right: 50px;
  margin-left: 300px;
}

.person_pic {
  /* height: 75px;
  width: 75px; */
  max-width: 25%;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid #716f75;
  text-decoration: none;
}

.person_desc {
  margin-left: 100px;
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 50;
  line-height: 40px;
  -webkit-letter-spacing: -0.32px;
  -moz-letter-spacing: -0.32px;
  -ms-letter-spacing: -0.32px;
  letter-spacing: -0.32px;
  -webkit-text-decoration: unset;
  text-decoration: unset;
}

.github_icon_container {
  display: flex;
  }

  .github_icon {
    font-size: 35px;
    color: black;
  }
