.page-container{
  display: flex;
  flex-direction: column;
}

.plant-id-container{
  display: flex;
}

.plant-container__left-div{

}

.plant-container__right-div{
  border: 1px solid black;
  width: 800px;
}

.review-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.review-div{
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}
