.shelf-container {
    border: 1px solid black;
    margin: 20px
}

.comment-container {
    border: 1px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.comment-new-container {
    display: flex;
    flex-direction: column;
}

.add-plants-link{
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
    margin: 0px 10px;
    font-weight: 600;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add-plants-link:hover{
    background-color: white;
    border: 6px solid rgb(255, 255, 255);
}

.comment-div {
    border: 1px solid black;
    margin: 20px;
}

.comment-input-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.comment-text-area {
    width: auto;
}
