.shelf-container {
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
    margin: 0px 10px;
    font-weight: 600;
    color: black;
}

.comment-container {
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
    margin: 0px 10px;
    font-weight: 600;
    color: black;
}

.comment-new-container {
    display: flex;
    flex-direction: column;
}

.add-plants-link{
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
    margin: 0px 10px;
    font-weight: 600;
    color: black;
}

.add-plants-link:hover{
    background-color: white;
    border: 6px solid rgb(255, 255, 255);
}

.comment-div {
    padding: 5px;
    border-radius: 15px;
    font-size: 17px;
    margin: 0px 10px;
    font-weight: 600;
    color: black;
}

.comment-input-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.comment-text-area {
    width: auto;
}
