.shelf-container {
    border: 1px solid black;
    margin: 20px
}

.comment-container {
    border: 1px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.comment-new-container {
    display: flex;
    flex-direction: column;
}

.comment-list-container {
}

.comment-div {
    border: 1px solid black;
    margin: 20px;
}

.comment-input-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.comment-text-area {
    width: auto;
}
