.form-container{
  display: flex;
  justify-content: center;
}

.form {
  background-color: #dadada;
  width: 500px;
  border: 2px solid black;
  border-radius: 7px;
  padding: 20px;
}

.button-primary{
  font-size: 16px;
  padding: 10px 0 10px 0;
  width: auto;
  flex-grow: 1;
  border-radius: 7px;
  margin-top: 10px;
}

.button-primary:hover{
  background-color: var(--main-color-green);
  cursor: pointer;
}

.form-group{
  padding: 10px;

}

.form-links{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  margin-top: 30px;
}

.form-inputs{
  margin-bottom: 30px;
}

.form-labels{
  font-size: 14px;
}

.form-control {
  background-color: #ebe9e9;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  margin-top: 4px;
}
