.form-container{
  display: flex;
  justify-content: center;
}

.form {
  background-color: #dadada;
  width: 500px;
  border: 2px solid black;
  border-radius: 7px;
  padding: 20px 30px;
}

.button-primary{
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 10px 0;
  width: auto;
  flex-grow: 1;
  border-radius: 7px;
  margin-top: 10px;
}

.button-primary:hover{
  background-color: var(--main-color-green);
  cursor: pointer;
}

.form-group{
  padding: 10px 0;
  width: 100%;
}

.form-links{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  margin-top: 30px;
}

.form-inputs{
  margin-bottom: 30px;
  width: 100%;
}

.form-labels{
  font-size: 14px;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gill-sans{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-control {
  background-color: #ebe9e9;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-top: 4px;
}

textarea {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

[type='file']{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: auto;
  flex-grow: 1;
  border-radius: 15px;
  background-color: var(--green2);
  cursor: pointer;
  display: inline-block;
  color: white;


  transition: background-color 0.3s;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: var(--gold);
    color: black;
}

  [type="file"]:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

.button-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
