.form-container{
  display: flex;
  justify-content: center;
}

.form {
  width: 500px;
  border: 2px solid black;
  border-radius: 1em;
  padding: 20px;
}

.button-primary{
  font-size: 16px;
  padding: 10px 0 10px 0;
  width: auto;
  flex-grow: 1;
}

.form-group{
  padding: 10px;
}

.form-links{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  margin-top: 30px;
}

.form-inputs{
  margin-bottom: 30px;
}

.form-labels{
  font-size: 14px;
}

.form-control {
  width: 100%;
  border-radius: 1em;
}
