.plant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 100px 0px 100px;
}

.main-link::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plant-card{
  background: #EEE;
  border: 1px solid #EEE;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: normal;
  margin: 0px 60px 100px 60px;
  box-shadow: -.4rem 0 2rem #999;
  border-radius: 20px;
  position: relative;
}

.plant-card--hover:hover{
  transform: translateY(-7px);
}
/* When you hover on a card, the plant name changes to the main color set in global.css*/
.plant-card--hover:hover .main-link{
  color: var(--main-color-green);
}

.plant-image{
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 50px 30px 30px 30px;
}

.plant-name{
  font-size: 30px;
  text-decoration: none;
  font-weight: 900;
}

.plant-scientific-name{
  font-style: italic;
  padding: 0px 20px;
}

.shelfName{
  display:flex;
  justify-content: center;
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
}
