
.plant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: var(--footerHeight);
}

.main-plant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--footerHeight)) !important;
  overflow-y: scroll;
  margin-bottom: var(--footerHeight);
}
.main-link::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plant-card{
  background: #EEE;
  border: 1px solid #EEE;
  width: 400px;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: normal;
  margin: 50px 30px 50px 30px;
  box-shadow: -.4rem 0 2rem #999;
  border-radius: 20px;
  position: relative;
  padding-bottom: 60px;
}

#plant-showcase{
  margin-bottom: 20px;
}

.plant-card--hover:hover{
  transform: translateY(-7px);
}
/* When you hover on a card, the plant name changes to the main color set in global.css*/
.plant-card--hover:hover .plant-name{
  color: var(--main-color-green);
}

#plant001{
  background-image: url(../../images/plants/plant-img001.jpeg);
}

.plant-image{
  height: 302px;
  width: 302px;
  border: 1px solid black;
  border-radius: 25px;
  margin: 50px 30px 30px 30px;
}

.plant-name{
  font-size: 30px;
  text-decoration: none;
  font-weight: 900;
}

.plant-scientific-name{
  font-style: italic;
  padding: 0px 20px;
}

.shelfName{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
}
