

.button__add-to-shelf{
  width: 200px;
}

.plant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plant-card{
  background: #dadada;
  border: 1px solid black;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: normal;
  margin-bottom: 40px;
  margin-right: 60px;
}

.plant-image{
  height: 350px;
  width: 350px;
  border: 1px solid black;
  margin: 20px;
}

.plant-name{
  font-size: 20px;
}

.plant-scientific-name{
  font-style: italic;
}
