table {
  border-collapse: collapse;
  margin-top: 20px;
  /* border-radius: 10px; */
  /* border-radius:6px;
  -moz-border-radius:6px; */
}

th {
  background-color: blueviolet;
  height: 60px;
  color: #EEEEEE;
}

td {
  height: 80px;
  width: 300px;
}

td, th {
  padding: 0.5rem
}

tr > td{
  background: #EEE;
}
